$black: #000000;
$white: #ffffff;
$red: #a00404;
$blue: #415165;
$blue-200: #96a9c4;
//color
.black {
  color: $black;
}
.white {
  color: $white;
}
.red {
  color: $red;
}
.bg-blue {
  background-color: $blue;
}
