@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//font-family: 'Noto Sans TC', sans-serif;
//font-family: 'Roboto', sans-serif;
body {
  // 統一行高
  line-height: 1.5;
  // 確保為無襯線字型
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  //font-family: "PingFang TC", "SF Pro Text", "Microsoft JhengHei", sans-serif, "Roboto";
  font-style: italic;
}
.fz-20-300 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0px;
}
.fz-20-400 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
}
.fz-24-300 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0px;
}
.fz-24-500 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px;
}
.fz-32-500 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0px;
}
.fz-64-500-i-96 {
  font-size: 64px;
  line-height: 96px;
  font-weight: 500;
  letter-spacing: 0px;
}
.fz-64-500-i-84 {
  font-size: 64px;
  line-height: 84px;
  font-weight: 500;
  letter-spacing: 0px;
}
.fz-24-700 {
  font-size: 24px;
  //font-weight: 600;
  font-weight: 700;
  letter-spacing: 0px;
}
.fz-24-700-i {
  font-size: 24px;
  //font-weight: 600;
  font-weight: 700;
  letter-spacing: 0px;
  font-style: italic;
}
.fz-24-700-i-42 {
  font-size: 24px;
  //font-weight: 600;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: 0px;
}
.fz-80-900-i {
  font-size: 80px;
  line-height: 106px;
  font-weight: 700;
  letter-spacing: 0px;
}